  <div class="product-big-title-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="product-bit-title text-center">
            <h2>Celulares</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="single-product-area">
    <div class="zigzag-bottom"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <% 6.times do %>
                <div class="col-md-4 col-sm-6">
                  <div class="single-shop-product">
                    <div class="product-upper">
                      <img src="assets/product-1.jpg" alt="">
                    </div>
                    <h2><a class="link-cel-name" href="celulares/1">Apple new mac book 2015 March :P</a></h2>
                    <div class="product-carousel-price">
                      <ins>$899.00</ins> <del>$999.00</del>
                    </div>
                    <div class="product-option-shop">
                      <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Agregar al carrito</a>
                    </div>
                  </div>
                </div>
              <% end -%>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="product-pagination text-center">
                  <nav>
                    <ul class="pagination">
                      <li>
                        <a href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li>
                        <a href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h2> Filtrar </h2>
            <div class="row">
              <ul class="brand-list">
                <h4 class="filter-tit"> Marcas: </h4>
                <div class="col-md-cust">
                  <li>
                    <%= radio_button_tag(:brand, "nokia", false, class: "radio-test") %>
                    <%= label_tag(:brand_nokia, "Nokia") %>
                  </li>
                  <li>
                    <%= radio_button_tag(:brand, "acer", false, class: "radio-test") %>
                    <%= label_tag(:brand_acer, "Acer") %>
                  </li>
                  <li>
                    <%= radio_button_tag(:brand, "lg", false, class: "radio-test") %>
                    <%= label_tag(:brand_lg, "LG") %>
                  </li>
                  <li>
                    <%= radio_button_tag(:brand, "sony", false, class: "radio-test") %>
                    <%= label_tag(:brand_sony, "Sony") %>
                  </li>
                  <li>
                    <%= radio_button_tag(:brand, "motorola", false, class: "radio-test") %>
                    <%= label_tag(:brand_motorola, "Motorola") %>
                  </li>
                  <li>
                    <%= radio_button_tag(:brand, "alcatel", false, class: "radio-test") %>
                    <%= label_tag(:brand_alcatel, "Alcatel") %>
                  </li>
                </div>
                <div class="col-md-cust">
                  <li>
                    <%= radio_button_tag(:brand, "samsung", false, class: "radio-test") %>
                    <%= label_tag(:brand_samsung, "Samsung") %>
                  </li>
                  <li>
                    <%= radio_button_tag(:brand, "blackberry", false, class: "radio-test") %>
                    <%= label_tag(:brand_blackberry, "BlackBerry") %>
                  </li>
                  <li>
                    <%= radio_button_tag(:brand, "doogee", false, class: "radio-test") %>
                    <%= label_tag(:brand_doogee, "Doogee") %>
                  </li>
                  <li>
                    <%= radio_button_tag(:brand, "unicell", false, class: "radio-test") %>
                    <%= label_tag(:brand_unicell, "Unicell") %>
                  </li>
                  <li>
                    <%= radio_button_tag(:brand, "huawei", false, class: "radio-test") %>
                    <%= label_tag(:brand_huawei, "Huawei") %>
                  </li>
                </div>
              </ul>
            </div>
            <div class="row">
              <ul class="brand-list">
                <h4 class="filter-tit"> Modalidades: </h4>
                <div class="col-md-cust">
                  <li>
                    <%= radio_button_tag(:type, "free", false, class: "radio-test") %>
                    <%= label_tag(:type_free, "Libre") %>
                  </li>
                </div>
                <div class="col-md-cust">
                  <li>
                    <%= radio_button_tag(:type, "contr_ant", false, class: "radio-test") %>
                    <%= label_tag(:type_contr_ant, "Contrato Antel") %>
                  </li>
                </div>
              </ul>
            </div>
            <div class="row">
              <ul class="brand-list filters">
                <h4 class="filter-tit"> Caracteristicas: </h4>
                <div class="col-md-cust-2">
                  <li>
                    <%= check_box_tag 'caract', true, false, class: 'radio-test' %>
                    <%= label_tag(:caract_gsm , "gsm" ) %>
                  </li>
                  <li>
                    <%= check_box_tag 'caract', true, false, class: 'radio-test' %>
                    <%= label_tag(:caract_3g , "3G" ) %>
                  </li>
                  <li>
                    <%= check_box_tag 'caract', true, false, class: 'radio-test' %>
                    <%= label_tag(:caract_lte , "Lte" ) %>
                  </li>
                  <li>
                    <%= check_box_tag 'caract', true, false, class: 'radio-test' %>
                    <%= label_tag(:caract_camera , "Cámara" ) %>
                  </li>
                  <li>
                    <%= check_box_tag 'caract', true, false, class: 'radio-test' %>
                    <%= label_tag(:caract_radio , "Radio" ) %>
                  </li>
                  <li>
                    <%= check_box_tag 'caract', true, false, class: 'radio-test' %>
                    <%= label_tag(:caract_mp3 , "Mp3" ) %>
                  </li>
                  <li>
                    <%= check_box_tag 'caract', true, false, class: 'radio-test' %>
                    <%= label_tag(:caract_bluetooth , "Bluetooth" ) %>
                  </li>
                </div>
                <div class="col-md-cust-2">
                  <li>
                    <%= check_box_tag 'caract', true, false, class: 'radio-test' %>
                    <%= label_tag(:caract_meme_expand , "Mem exp." ) %>
                  </li>
                  <li>
                    <%= check_box_tag 'caract', true, false, class: 'radio-test' %>
                    <%= label_tag(:caract_wifi , "WiFi" ) %>
                  </li>
                  <li>
                    <%= check_box_tag 'caract', true, false, class: 'radio-test' %>
                    <%= label_tag(:caract_headphone , "Auric." ) %>
                  </li>
                  <li>
                    <%= check_box_tag 'caract', true, false, class: 'radio-test' %>
                    <%= label_tag(:caract_dual_sim , "Dual sim" ) %>
                  </li>
                  <li>
                    <%= check_box_tag 'caract', true, false, class: 'radio-test' %>
                    <%= label_tag(:caract_video_conf , "Video conf." ) %>
                  </li>
                  <li>
                    <%= check_box_tag 'caract', true, false, class: 'radio-test' %>
                    <%= label_tag(:caract_grab_video , "Grab. Video" ) %>
                  </li>
                </div>
                <div class="col-md-cust-2">
                  <li>
                    <%= check_box_tag 'caract', true, false, class: 'radio-test' %>
                    <%= label_tag(:caract_tv , "TV" ) %>
                  </li>
                  <li>
                    <%= check_box_tag 'caract', true, false, class: 'radio-test' %>
                    <%= label_tag(:caract_gps , "Gps" ) %>
                  </li>
                  <li>
                    <%= check_box_tag 'caract', true, false, class: 'radio-test' %>
                    <%= label_tag(:caract_flash , "Flash" ) %>
                  </li>
                  <li>
                    <%= check_box_tag 'caract', true, false, class: 'radio-test' %>
                    <%= label_tag(:caract_toch , "Táctil" ) %>
                  </li>
                  <li>
                    <%= check_box_tag 'caract', true, false, class: 'radio-test' %>
                    <%= label_tag(:caract_tec_querty , "Teclado Querty" ) %>
                  </li>
                  <li>
                    <%= check_box_tag 'caract', true, false, class: 'radio-test' %>
                    <%= label_tag(:caract_android , "Android" ) %>
                  </li>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


