<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Equipos</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container catalog-cel-cont">
    <div class="row row-tit">
      <div class="col-lg-5 col-md-8 col-sm-7 col-xs-7 colTit hidden-xs visible-xss">
        <h1>Catálogo de equipos
        </h1>
      </div>
      <div class="col-lg-7 col-md-4 col-sm-5 col-xs-12 col-xss-5">
        <div class="input-group long-input pull-right">
          <%= search_form_for @search, :class => "main-search", :remote=> :true, url: phones_path, :method => :get do |f| %>
            <%= f.text_field :title_or_phone_type_or_brand_name_or_model_or_mode_cont, :class => "form-control", :placeholder => "Buscar un equipo" %>
            <span class="input-group-btn">
              <%= f.button "", :class => "btn btn-default btn-searh" do %>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              <% end -%>
            </span>
          <% end -%>
        </div>
      </div>
    </div>
    <div class="row row-body">
      <div class="col-md-3 col-sm-3 col-xss-4 filters-col">
        <%= search_form_for @search, id: "filter-phone", :remote=> :true, url: phones_path, :method => :get do |f| %>
          <ul id="accordion">
            <div class="hd">
              <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
              <h4>Filtrar Equipos</h4>
            </div>
            <li>
              <div class="acc-panel">
                <i class="fa fa-caret-down fa-lg"></i>
                <h5>Qué equipo buscás?</h5>
              </div>
              <ul>
                <li>
                  <%= check_box_tag 'q[phone_type_cont_any][]', "Celular" , false, class: "radio-test do-ph-filter" %>
                  <%= label_tag(:prod_cel, "Celulares") %>
                </li>
                <li>
                  <%= check_box_tag 'q[phone_type_cont_any][]', "Tablet" , false, class: "radio-test do-ph-filter" %>
                  <%= label_tag(:prod_tabl, "Tablets") %>
                </li>
              </ul>
            </li>
            <!--<li>
              <div class="acc-panel">
                <i class="fa fa-caret-right fa-lg"></i>
                <h5>Rango de Precio</h5>
              </div>
              <ul>
                <li>
                  <p> Deslizá los circulos y define el precio </p>
                </li>
                <li>
                  <input id="slide-range-price" type="text" >
                  <input id="q_new_price_gteq_" class="price_1" type="hidden" name="q[new_price_gteq]" value="1">
                  <input id="q_new_price_lteq_" class="price_2" type="hidden" name="q[new_price_lteq]" value="65000">
                </li>
              </ul>
            </li>-->
            <li>
              <div class="acc-panel">
                <i class="fa fa-caret-right fa-lg"></i>
                <h5>Modo de Compra</h5>
              </div>
              <ul>
                <li>
                  <%= check_box_tag 'q[mode_cont_any][]', "Prepago" , false, class: "radio-test do-ph-filter" %>
                  <%= label_tag(:type_free, "Prepago") %>
                </li>
                <li>
                  <%= check_box_tag'q[mode_cont_any][]', "Contrato", false, class: "radio-test do-ph-filter" %>
                  <%= label_tag(:type_free, "Contrato Antel") %>
                </li>
                <li>
                  <%= check_box_tag'q[mode_cont_any][]', "Libre", false, class: "radio-test do-ph-filter" %>
                  <%= label_tag(:type_free, "Libre") %>
                </li>
              </ul>
            </li>
            <li>
              <div class="acc-panel">
                <i class="fa fa-caret-right fa-lg"></i>
                <h5>Marca</h5>
              </div>
              <ul>
                <% @brands.each do |b| %>
                  <li>
                    <%= check_box_tag 'q[brand_id_eq_any][]', b.id ,false, class: "radio-test do-ph-filter" %>
                    <%= label_tag("brand_#{b.name.downcase}", "#{b.name}") %>
                  </li>
                <% end -%>
              </ul>
            </li>
          </ul>
          <input type="submit"id="submit_filter" style="display:none" value="Submit">
        <% end -%>
      </div>
      <div id="phones" class="pull-right col-xs-12 col-md-9 col-sm-9 col-xss-8 phones-col ">
        <%= render "phones" %>
      </div>
    </div>
  </div>
</div>