<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2><%= @phone.title %></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container phone-container">
    <div class="row">
      <div class="col-md-11">
        <div class="product-content-right">
          <div class="row">
            <div class="col-sm-6">
              <div class="col-sm-3">
                <div id="gal1_zoom_01" class="galery-acces">
                  <% @phone.phone_images.each do |img| %>
                    <%= link_to "#", :data => { :image => "#{img.image(:medium)}", :zoom_image => "#{img.image}"} do %>
                      <%= image_tag img.image(:thumb)%>
                    <% end -%>
                  <% end -%>
                </div>

              </div>
              <div class="col-sm-9">
                <%= image_tag @phone.phone_images.first.image(:medium),:id => "zoom_01", :data => { :zoom_image => "#{@phone.phone_images.first.image}"} %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="product-inner">
                <h2 class="product-name"><%= @phone%></h2>
                <p>
                  <%= @phone.short_desc  %>
                </p>
                <div class="product-inner-price">
                  <span class="price-acc">Precio:</span>
                  <ins>$ <%= @phone.new_price %> <small style="font-size: 53%;color:#9e9e9e"> (IVA inc.)</small></ins>
                  <% unless @phone.old_price.blank? %>
                    antes
                    <del>$<%= @phone.old_price%> <small style="font-size: 53%;color:#9e9e9e"> (IVA inc.)</small></del>
                  <% end -%>
                  <br>
                  <span class="price-acc">Stock:</span>
                  <ins style="color:#89c403"><i class="fa fa-check"></i></ins>
                </div>
                <div class="comun-data">
                  <i class="fa fa-phone-square fa-4x"></i>
                  <span>47327066</span></br>
                  <p>comunicate y te lo enviamos</p>
                </div>
                <div class="payment-type">
                  <span>aceptamos todas las tarjetas:</span>
                  <%= image_tag "/assets/tarjetas.png", :width => "450" %>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="">
              <div id="phone-tabs" class="tabs">
                <nav>
                  <ul>
                    <li><a href="#section-1" class=""><span>Descripción</span></a></li>
                    <li><a href="#section-2" class=""><span>Especificaciones</span></a></li>
                    <li><a href="#section-3" class=""><span>Planes</span></a></li>
                    <li><a href="#section-4" class=""><span>Accesorios Compatibles</span></a></li>
                  </ul>
                </nav>
                <div class="content">
                  <section id="section-1">
                    <div class="cel-description">
                      <%= @phone.long_desc.html_safe %>
                    </div>
                  </section>
                  <section id="section-2">
                  <%= render partial: "spec" %>
                  </section>
                  <section id="section-3">
                    <% @phone.phone_plans.each do |pp| %>
                      <div class="panelPlan">
                        <div class="panel-heading panelplan-head">
                          <span class="tit"> Con <%= pp.plan.title %></span>
                          <span class="pull-right price"><%= pp.price %> </span>
                        </div>
                      </div>
                    <% end -%>
                  </section>
                  <section id="section-4">
                    <% @phone.accessories.each do |a| %>
                      <div class="boxEquipo col-md-12 lista">
                        <div class="boxImg ">
                          <%= image_tag a.accessory_images.first.image(:thumb)%>
                        </div>
                        <div class="boxCont">
                          <h4><%= a.title %></h4>
                          <div class="desc">
                            <p><%= a.short_desc %></p>
                          </div>
                        </div>

                        <div class="boxPrecio">
                          <div class="desde">A solo</div>
                          <div class="price-acce">
                            <strong>
                              <small>$</small><%= a.new_price %>
                            </strong>
                          </div>
                          <%= link_to "/accesorios/#{a.id}" do %>
                            <div class="btn-more-details">
                              <span class="icon-carro"></span>
                              Ver detalles
                            </div>
                          <% end -%>
                        </div>
                      </div>
                    <% end -%>
                  </section>
                </div><!-- /content -->
              </div><!-- /tabs -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 <!--
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="related-products-wrapper">
          <h2 class="related-products-title">Productos relacionados</h2>
          <div class="product-carousel">
            <% 6.times do %>
              <div class="single-product">
                <div class="product-f-image">
                  <img src="/assets/product-3.jpg" alt="">
                  <div class="product-hover">
                    <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Agregar </a>
                    <a href="/celulares/1" class="view-details-link"><i class="fa fa-link"></i> Ver detalles</a>
                  </div>
                </div>
                <h2>LG Leon 2015</h2>
                <div class="product-carousel-price">
                  <ins>$400.00</ins> <del>$425.00</del>
                </div>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>-->
</div>