<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Contratos</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container catalog-cel-cont">
    <div class="row row-tit">
      <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7 colTit hidden-xs visible-xss">
        <h1>Contratos Móviles</h1>
      </div>
    </div>
    <div clas="row rowContracts">
      <% @contracts.each do |c| %>
        <div class="col-md-4 col-sm-4 col-xss-6 boxContr">
          <div class="contract">
            <div class="frente front">
              <div class="cont-img">
                <%= image_tag c.logo(:index)%>
              </div>
              <h3><%= c.title %></h3>
              <p>
                <%= c.short_desc %>
              </p>
              <div class="cost mens">
                <% if c.lower_plan == "0" %>
                  <p style="margin-top: 9px">Sin costo mensual</p>
                <% else %>
                  <p>
                    Desde <span class="clear visible-sm visible-xss"></span> <strong>
                    <small>$</small>
                    <%= c.lower_plan %>
                    </strong> <span> mensuales </span>
                  </p>
                <% end -%>
              </div>
              <span class="icon-arrow-up-2"></span>
              <div class="clear"></div>
            </div>
            <div class="atras back">
              <div class="contInfo">
                <h3><%= c.title %></h3>
                <h4>Elegí tu plan</h4>
                <div class="plan-accordion">
                  <% c.plans.each do |p| %>
                    <h1><%= p.title %></h1>
                    <div class="listdata" data-status="0">
                    <ul>
                      <li>
                        <i class="fa fa-check"></i>
                        <%= p.item_1 %>
                      </li>
                      <li>
                        <i class="fa fa-check"></i>
                        <%= p.item_2 %>
                      </li>
                      <li>
                        <i class="fa fa-check"></i>
                        <%= p.item_3 %>
                      </li>
                    </ul>
                    <div class="cost2">
                      <div class="oMenu">
                        <%= link_to "/contratos/#{c.id}/plan/#{p.id}" do %>
                          <span class="ctabtn pull-right">
                            Más detalles
                          </span>
                        <% end -%>
                        <div class="info pull-right">
                          <% if p.price == "0" %>
                            <p style="margin-top: 10px">
                              Sin costo mensual
                            </p>
                          <% else %>
                            <div>
                              <p>
                                A solo <strong><small>$</small>  <%= p.price %> </strong>
                              </p>
                              <span>mensuales</span>
                            </div>
                          <% end %>
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>
                    </div>
                  <% end -%>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end -%>

    </div>
  </div>
</div>

