<div class="slider-area">
			<!-- Slider -->
	<div class="block-slider block-slider4">
		<ul class="" id="bxslider-home4">
			<% @slider.each do |slider|%>
				<li>
					<%= image_tag slider.image(:home) %>
					<div class="caption-group">
						<h2 class="caption title">
							<span class="primary"><%= slider.phone.title %></span>
						</h2>
						<h4 class="caption subtitle">hoy: $<%= slider.phone.new_price %></h4>
						<h4 class="caption subtitle">antes: $<%= slider.phone.old_price %></h4>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
	<!-- ./Slider -->
</div> <!-- End slider area -->

<div class="maincontent-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="latest-product">
          <h2 class="section-title">Ultimos Productos</h2>
          <div class="product-carousel">

            <% @last_phones.each  do |phone| %>
              <div class="single-product">
                <div class="product-f-image">
                  <%= image_tag phone.phone_images.first.image(:index) %>
                  <div class="product-hover">
                    <%= link_to  "/celulares/#{phone.id}", :class => "view-details-link" do %>
                      <i class="fa fa-link"></i> Ver detalles
                    <% end -%>
                  </div>
                </div>
                <h2><%= phone.title %></h2>
                <div class="product-carousel-price">
                  <ins>$<%= phone.new_price %> <small style="font-size: 53%;color:#9e9e9e"> (IVA inc.)</small></ins>
                  <del><%= "$#{phone.old_price}" unless phone.old_price.blank? %></del>
                </div>
              </div>
            <% end -%>

            <% @last_access.each  do |access| %>
              <div class="single-product">
                <div class="product-f-image">
                  <%= image_tag access.accessory_images.first.image(:index) %>
                  <div class="product-hover">
                    <%= link_to "/accesorios/#{access.id}", :class => "view-details-link" do %>
                      <i class="fa fa-link"></i> Ver detalles
                    <% end -%>
                  </div>
                </div>
                <h2><%= access.title %></h2>
                <div class="product-carousel-price">
                  <ins>$<%= access.new_price %></ins> <del><%= "$#{access.old_price}" unless access.old_price.blank? %></del>
                </div>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- End main content area -->

<div class="product-widget-area">
	<div class="zigzag-bottom"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="single-product-widget">
					<h2 class="product-wid-title">Top Ventas</h2>
					<% @top_sell.each do |phone| %>
						<div class="single-wid-product">
							<%= link_to "/celulares/#{phone.id}"  do  %>
                <%= image_tag phone.phone_images.first.image(:thumb), :class => "product-thumb" %>
              <% end -%>
							<h2>
								<%= link_to "#{phone.brand} #{phone.model} ", "/celulares/#{phone.id}" %>
							</h2>
							<div class="product-wid-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
							<div class="product-wid-price">
								<ins>
									$<%= phone.new_price %>
									<small style="font-size: 62%;color:#9e9e9e"> (IVA inc.)</small>
								</ins>
								<% unless phone.old_price.blank? %>
									<del>
										<%= "$#{phone.old_price}"  %>
										<small style="font-size: 62%;color:#9e9e9e"> (IVA inc.)</small>
									</del>
								<% end -%>
							</div>
						</div>
					<% end -%>
				</div>
	   	</div>
			<div class="col-md-4">
				<div class="single-product-widget">
					<h2 class="product-wid-title">Mas Vistos</h2>
					<% @top_viwes.each do |phone| %>
						<div class="single-wid-product">
							<%= link_to "/celulares/#{phone.id}"  do  %>
                <%= image_tag phone.phone_images.first.image(:thumb), :class => "product-thumb" %>
              <% end -%>
							<h2>
								<%= link_to "#{phone.brand} #{phone.model} ", "/celulares/#{phone.id}" %>
							</h2>
							<div class="product-wid-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
							<div class="product-wid-price">
								<ins>
									$<%= phone.new_price %>
									<small style="font-size: 62%;color:#9e9e9e"> (IVA inc.)</small>
								</ins>
								<% unless phone.old_price.blank? %>
									<del>
										<%= "$#{phone.old_price}"  %>
										<small style="font-size: 62%;color:#9e9e9e"> (IVA inc.)</small>
									</del>
								<% end -%>
							</div>
						</div>
					<% end -%>
				</div>
			</div>
			<div class="col-md-4">
				<div class="single-product-widget">
					<h2 class="product-wid-title">Top Nuevos</h2>
					<% @top_news.each do |phone| %>
						<div class="single-wid-product">
							<%= link_to "/celulares/#{phone.id}"  do  %>
                <%= image_tag phone.phone_images.first.image(:thumb), :class => "product-thumb" %>
              <% end -%>
							<h2>
								<%= link_to "#{phone.brand} #{phone.model} ", "/celulares/#{phone.id}" %>
							</h2>
							<div class="product-wid-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
							<div class="product-wid-price">
								<ins>
									$<%= phone.new_price %>
									<small style="font-size: 62%;color:#9e9e9e"> (IVA inc.)</small>
								</ins>
								<% unless phone.old_price.blank? %>
									<del>
										<%= "$#{phone.old_price}"  %>
										<small style="font-size: 62%;color:#9e9e9e"> (IVA inc.)</small>
									</del>
								<% end -%>
							</div>
						</div>
					<% end -%>
				</div>
			</div>
		</div>
	</div>
</div> <!-- End product widget area -->