<% unless @offers.blank? %>
  <div class="slider-area">
    <div class="block-slider block-slider4">
      <ul class="" id="bxslider-home4">
        <% @offers.each do |offer|%>
          <li>
            <%= image_tag offer.slider_image(:home) %>
            <div class="caption-group">
              <h2 class="caption title">
                <span class="primary"><%= offer.title %></span>
              </h2>
              <a class="caption button-radius" href="/ofertas/<%= offer.id %>"><span class="icon"></span>Ver detalles</a>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end -%>

<div class="maincontent-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="latest-product">
          <h2 class="section-title">Ultimos Productos</h2>
          <div class="product-carousel">
            <% @last_phones.each  do |phone| %>
              <div class="single-product">
                <div class="product-f-image">
                  <%= image_tag phone.phone_images.first.image(:index) %>
                  <div class="product-hover">
                    <%= link_to  "/celulares/#{phone.id}", :class => "view-details-link" do %>
                      <i class="fa fa-link"></i> Ver detalles
                    <% end -%>
                  </div>
                </div>
                <h2><%= phone.title %></h2>
                <% unless phone.new_price.blank? %>
                  <div class="product-carousel-price">
                    <ins>$<%= phone.new_price %> <small style="font-size: 53%;color:#9e9e9e"> (IVA inc.)</small></ins>
                    <del><%= "$#{phone.old_price}" unless phone.old_price.blank? %></del>
                  </div>
                <% end -%>
              </div>
            <% end -%>
            <% @last_access.each  do |access| %>
              <div class="single-product">
                <div class="product-f-image">
                  <%= image_tag access.accessory_images.first.image(:index) %>
                  <div class="product-hover">
                    <%= link_to "/accesorios/#{access.id}", :class => "view-details-link" do %>
                      <i class="fa fa-link"></i> Ver detalles
                    <% end -%>
                  </div>
                </div>
                <h2><%= access.title %></h2>
                <div class="product-carousel-price">
                  <ins>$<%= access.new_price %></ins> <del><%= "$#{access.old_price}" unless access.old_price.blank? %></del>
                </div>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product-widget-area">
	<div class="zigzag-bottom"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="single-product-widget">
					<h2 class="product-wid-title">Top Ventas</h2>
          <%= render partial: "top_pho_views", :locals => { data: @top_pho_sell } %>
          <%= render partial: "top_acc_views", :locals => { data: @top_acc_sell } %>
				</div>
	   	</div>
			<div class="col-md-4">
				<div class="single-product-widget">
					<h2 class="product-wid-title">Mas Vistos</h2>
          <%= render partial: "top_pho_views", :locals => { data: @top_pho_viwes } %>
          <%= render partial: "top_acc_views", :locals => { data: @top_acc_sell } %>
				</div>
			</div>
			<div class="col-md-4">
				<div class="single-product-widget">
					<h2 class="product-wid-title">Top Nuevos</h2>
          <%= render partial: "top_pho_views", :locals => { data: @top_pho_news } %>
          <%= render partial: "top_acc_views", :locals => { data: @top_acc_sell } %>
				</div>
			</div>
		</div>
	</div>
</div> <!-- End product widget area -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76062205-1', 'auto');
  ga('send', 'pageview');

</script>
