<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Ofertas</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container catalog-cel-cont">
    <div class="row row-tit">
      <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7 colTit hidden-xs visible-xss">
        <h1>Nuevas Ofertas</h1>
      </div>
    </div>
    <% @offers.each do |offer| %>
      <div class="row celbox">
        <div class="ofertbox">
          <div class="img">
            <%= link_to "/celulares/#{offer.phone.id}" do %>
              <%= image_tag offer.phone.phone_images.first.image %>
            <% end -%>
          </div>
          <div class="ofconte">
            <h2>
              <%= link_to "/celulares/#{offer.phone.id}" do %>
                <%= offer.title %>
              <% end -%>
            </h2>
            <span class="price">
              <span class="oldPrice">Antes: <strong>$<%= offer.phone.old_price %></strong></span>
              <span class="currentPrice">Ahora: <strong>$<%= offer.phone.new_price %> <small>(IVA inc.)</small></strong></span>
            </span>
            <div class="description">
              <strong>Descripción</strong>
              <p>
                <%= offer.description %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end -%>
  </div>
</div>