<div class="phone-catalog">
  <div class="row row-header">
    <div class="my-col-1 col-lg-4">
      <%= page_entries_info @accessories %>
    </div>
    <div class="my-col-2 col-lg-3 sort-col">
      Ordenar por:
      <%= sort_link @search, :new_price, {}, { :remote => true, :method => :get } %>
    </div>
    <div class="my-col-3 col-lg-4">
      <%= paginate @accessories, :window => 2, :remote => true %>
    </div>
  </div>
  <div class="row row-phones">
    <% @accessories.each do |acc| %>
      <div class="col-md-4 card" >
        <div class="front" style="height: 100%; width: 100%; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 1; transition: all 0.5s ease-out 0s; transform: rotateY(0deg);">
          <div class="cel-img ">
            <%= image_tag acc.accessory_images.first.image(:index) %>
          </div>
          <div class="name-cel"><%= acc.title %></div>
          <div class="name-cel2">$<%= acc.new_price %><small style="font-size: 80%;"> (IVA inc.)</small></div>
        </div>
        <div class="back back-card" style="transform: rotateY(-180deg); height: 100%; width: 100%; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 0; transition: all 0.5s ease-out 0s;">
          <div class="datahover">
            <div class="hov-tit"><%= acc.title %></div>
            <div class="hov-desc">
              <p><%= acc.short_desc %></p>
            </div>
            <div class="precio">
              <div class="bgPrecio"> $<%= acc.new_price %> <small style="font-size: 80%;"> (IVA inc.)</small></div>
              <span class="titDesde"></span>
              <span>
                <strong></strong>
              </span>
            </div>
            <div class="items">
              <div class="more-details">
                <i class="fa fa-plus-circle fa-2x"></i>
                <%= link_to "Más detalles", "/accesorios/#{acc.id}"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end -%>
  </div>
</div>
<script type="text/javascript">
  $(".card").flip({
      axis: "y", // y or x
      reverse: false, // true and false
      trigger: "hover", // click or hover
      speed: 500
    });
</script>