<div class="phone-catalog">
  <div class="row row-header">
    <div class="my-col-1 col-lg-3 col-md-2 col-sm-3 col-xss-3">
      <%= page_entries_info @accesories %>
    </div>
    <!--<div class="my-col-2 col-lg-4 col-md-6 col-sm-4 col-xss-4">
      <span>Ver como </span>
      <span>
        <i class=" rw-ico fa fa-th fa-2x"></i>
        <i class=" rw-ico fa fa-th-list fa-2x"></i>
      </span>
    </div>-->
    <div>
      <%= paginate @accesories, :window => 2 %>
    </div>
    <!--<div class="my-col-3 col-lg-6 col-md-4 col-sm-5 col-xss-5">
      Ordenar por:
      <span>
        <select size="1" class="form-control order-data">
          <option selected="selected" value="DESTACADO">Destacados</option>
          <option value="PRECIO_ASC">Menor precio</option>
          <option value="PRECIO_DESC">Mayor precio</option>
        </select>
      </span>
    </div>-->
  </div>
  <div class="row row-phones">
    <% @accesories.each do |acc| %>
      <div class="col-md-4 card" >
        <div class="front" style="height: 100%; width: 100%; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 1; transition: all 0.5s ease-out 0s; transform: rotateY(0deg);">
          <div class="cel-img ">
            <%= image_tag acc.accessory_images.first.image(:index) %>
          </div>
          <div class="name-cel"><%= acc.title %></div>
          <div class="name-cel2">$<%= acc.new_price %><small style="font-size: 80%;"> (IVA inc.)</small></div>
        </div>
        <div class="back back-card" style="transform: rotateY(-180deg); height: 100%; width: 100%; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 0; transition: all 0.5s ease-out 0s;">
          <div class="datahover">
            <div class="hov-tit"><%= acc.title %></div>
            <div class="hov-desc">
              <p><%= acc.short_desc %></p>
            </div>
            <div class="precio">
              <div class="bgPrecio"> $<%= acc.new_price %> <small style="font-size: 80%;"> (IVA inc.)</small></div>
              <span class="titDesde"></span>
              <span>
                <strong></strong>
              </span>
            </div>
            <div class="items">
              <div class="more-details">
                <i class="fa fa-plus-circle fa-2x"></i>
                <%= link_to "M치s detalles", "/accesorios/#{acc.id}"%>
              </div>
            </div>
            <!--
            <div class="items">
              <div class="pull-right i-want">
                <a title="M치s detalles" href="#">
                  <i class="fa fa-cart-arrow-down fa-2x"></i>
                  Lo quiero
                </a>
              </div>

              <div class="pull-left more-details">
                <a title="M치s detalles" href="/celulares/1">
                  <i class="fa fa-newspaper-o fa-2x"></i>
                  M치s detalles
                </a>
              </div>
            </div>
            -->
          </div>
        </div>
      </div>
    <% end -%>
  </div>
</div>