<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Accesorios</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container catalog-cel-cont">
    <div class="row row-tit">
      <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7 colTit hidden-xs visible-xss">
        <h1>Catálogo de accesorios
        </h1>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 col-xss-5">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar un equipo">
            <span class="input-group-btn">
              <button class="btn btn-default btn-searh" type="button">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </span>
        </div>
      </div>
    </div>
    <div class="row row-body">
      <div class="col-md-3 col-sm-3 col-xss-4 filters-col">
        <ul id="accordion">
          <div class="hd">
            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
            <h4>Filtrar Accesorios</h4>
          </div>
          <li>
            <div class="acc-panel">
              <i class="fa fa-caret-down fa-lg"></i>
              <h5>Categorías</h5>
            </div>
            <ul>
              <li>
                <%= check_box_tag(:caract, "adp", false, class: "radio-test") %>
                <%= label_tag(:caract_adp, "Adaptadores") %>
              </li>
              <li>
                <%= check_box_tag(:caract, "auri", false, class: "radio-test") %>
                <%= label_tag(:caract_auri, "Auriculares") %>
              </li>
              <li>
                <%= check_box_tag(:caract, "bat", false, class: "radio-test") %>
                <%= label_tag(:caract_bat, "Baterias") %>
              </li>
              <li>
                <%= check_box_tag(:caract, "blue", false, class: "radio-test") %>
                <%= label_tag(:caract_blue, "Bluetooth") %>
              </li>
              <li>
                <%= check_box_tag(:caract, "bump", false, class: "radio-test") %>
                <%= label_tag(:caract_bump, "Bumpers") %>
              </li>
              <li>
                <%= check_box_tag(:caract, "cab", false, class: "radio-test") %>
                <%= label_tag(:caract_cab, "Cables") %>
              </li>
              <li>
                <%= check_box_tag(:caract, "carc", false, class: "radio-test") %>
                <%= label_tag(:caract_carc, "Carcasas") %>
              </li>
              <li>
                <%= check_box_tag(:caract, "carg", false, class: "radio-test") %>
                <%= label_tag(:caract_carg, "Cargadores") %>
              </li>
              <li>
                <%= check_box_tag(:caract, "clip", false, class: "radio-test") %>
                <%= label_tag(:caract_clip, "Clip") %>
              </li>
              <li>
                <%= check_box_tag(:caract, "estu", false, class: "radio-test") %>
                <%= label_tag(:caract_estu, "Estuches") %>
              </li>
              <li>
                <%= check_box_tag(:caract, "film", false, class: "radio-test") %>
                <%= label_tag(:caract_film, "Films") %>
              </li>
              <li>
                <%= check_box_tag(:caract, "impr", false, class: "radio-test") %>
                <%= label_tag(:caract_impr, "Impresoras") %>
              </li>
              <li>
                <%= check_box_tag(:caract, "lap", false, class: "radio-test") %>
                <%= label_tag(:caract_lap, "Lápiz") %>
              </li>
              <li>
                <%= check_box_tag(:caract, "manlib", false, class: "radio-test") %>
                <%= label_tag(:caract_manlib, "Manos Libres") %>
              </li>
              <li>
                <%= check_box_tag(:caract, "mem", false, class: "radio-test") %>
                <%= label_tag(:caract_mem, "Memorias") %>
              </li>
              <li>
                <%= check_box_tag(:caract, "parl", false, class: "radio-test") %>
                <%= label_tag(:caract_parl, "Parlantes") %>
              </li>
              <li>
                <%= check_box_tag(:caract, "prot", false, class: "radio-test") %>
                <%= label_tag(:caract_prot, "Protectores") %>
              </li>
              <li>
                <%= check_box_tag(:caract, "sil", false, class: "radio-test") %>
                <%= label_tag(:caract_sil, "Siliconas") %>
              </li>
              <li>
                <%= check_box_tag(:caract, "sop", false, class: "radio-test") %>
                <%= label_tag(:caract_sop, "Soportes") %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="pull-right col-xs-12 col-md-9 col-sm-9 col-xss-8 phones-col ">
        <div class="phone-catalog">
          <div class="row row-header">
            <div class="my-col-1 col-lg-2 col-md-2 col-sm-3 col-xss-3">
              <strong>12</strong>
              productos de <strong>81</strong>
            </div>
            <div class="my-col-2 col-lg-4 col-md-6 col-sm-4 col-xss-4">
              <span>Ver como </span>
              <span>
                <i class=" rw-ico fa fa-th fa-2x"></i>
                <i class=" rw-ico fa fa-th-list fa-2x"></i>
              </span>
            </div>
            <div class="my-col-3 col-lg-6 col-md-4 col-sm-5 col-xss-5">
              Ordenar por:
              <span>
                <select size="1" class="form-control order-data">
                  <option selected="selected" value="DESTACADO">Destacados</option>
                  <option value="PRECIO_ASC">Menor precio</option>
                  <option value="PRECIO_DESC">Mayor precio</option>
                </select>
              </span>
            </div>
          </div>
          <div class="row row-phones">
            <%9.times.each do %>
              <div class="col-md-4 card" >
                <div class="front" style="height: 100%; width: 100%; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 1; transition: all 0.5s ease-out 0s; transform: rotateY(0deg);">
                  <div class="cel-img ">
                    <img alt="Alcatel Idol 3" src="https://tienda.antel.com.uy/razuna/assets/1/B529ADBCA00746D6A18666BBDF3A6F2D/img/F03B9678CD13448599718E5E03158EFB/alcatel-idol3-1_F03B9678CD13448599718E5E03158EFB.jpg">
                  </div>
                  <div class="name-cel">Alcatel Idol 3</div>
                  <div class="name-cel2">Con plan Vera LTE $890 sin límite </div>
                </div>
                <div class="back" style="transform: rotateY(-180deg); height: 100%; width: 100%; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 0; transition: all 0.5s ease-out 0s;">
                  <div class="datahover">
                    <div class="hov-tit">Alcatel Idol 3</div>
                    <div class="hov-tit2">Con plan Vera LTE $890 sin límite </div>
                    <div class="hov-desc">
                      <p>El IDOL 3 es el primer Smartphone reversible. Diseño simétrico, con una pantalla de 4,7´´y su súper alta definicón hace que cada película sea una experiencia cinematográfica.&nbsp;
                      </p>
                    </div>
                    <div class="precio">
                      <div class="bgPrecio"> $15.467</div>
                      <span class="titDesde"></span>
                      <span>
                        <strong></strong>
                      </span>
                    </div>
                    <div class="items">
                      <div class="pull-right i-want">
                        <a title="Más detalles" href="#">
                          <i class="fa fa-cart-arrow-down fa-2x"></i>
                          Lo quiero
                        </a>
                      </div>

                      <div class="pull-left more-details">
                        <a title="Más detalles" href="/celulares/1">
                          <i class="fa fa-newspaper-o fa-2x"></i>
                          Más detalles
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>