<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Accesorios</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container catalog-cel-cont">
    <div class="row row-tit">
      <div class="col-lg-5 col-md-8 col-sm-7 col-xs-7 colTit hidden-xs visible-xss">
        <h1>Catálogo de accesorios
        </h1>
      </div>
      <div class="col-lg-7 col-md-4 col-sm-5 col-xs-12 col-xss-5">
        <%= search_form_for @search, :class => "main-search", :remote=> :true, url: accessories_path, :method => :get do |f| %>
          <div class="input-group long-input pull-right">
            <%= f.text_field :title_or_access_type_name_or_short_desc_cont, :class => "form-control", :placeholder => "Buscar un accesorio" %>
            <span class="input-group-btn">
              <%= f.button "", :class => "btn btn-default btn-searh" do %>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              <% end -%>
            </span>
          </div>
        <% end -%>
      </div>
    </div>
    <div class="row row-body">
      <div class="col-md-3 col-sm-3 col-xss-4 filters-col">
        <%= search_form_for @search, id: "filter-acc", :remote=> :true, url: accessories_path, :method => :get do |f| %>
          <ul id="accordion">
            <div class="hd">
              <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
              <h4>Filtrar Accesorios</h4>
            </div>
            <li>
              <div class="acc-panel">
                <i class="fa fa-caret-down fa-lg"></i>
                <h5>Categorías</h5>
              </div>
              <ul>
                <% @access_types.each do |acc|%>
                  <li>
                    <%= check_box_tag 'q[access_type_id_eq_any][]', acc.id ,false, class: "radio-test do-acc-filter" %>
                    <%= label_tag("caract_#{acc.name}", "#{acc.name}") %>
                  </li>
                <% end -%>
              </ul>
            </li>
          </ul>
          <input type="submit"id="submit_filter" style="display:none" value="Submit">
        <% end -%>
      </div>
      <div id="accessories" class="pull-right col-xs-12 col-md-9 col-sm-9 col-xss-8 phones-col ">
        <%= render "accessories" %>
      </div>
    </div>
  </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76062205-1', 'auto');
  ga('send', 'pageview');

</script>
