<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2><%= @accessory.title%></h2>
          <meta property="og:url"         content="<%= request.original_url %>" />
          <meta property="og:type"        content="article" />
          <meta property="og:title"       content="<%= @accessory.title %>" />
          <meta property="og:description" content="<%= @accessory.short_desc %>" />
          <meta property="og:image"       content="<%= asset_url(@accessory.accessory_images.first.image)%>" />
          <meta property="og:site_name"   content="mayacom.com.uy" />
          <meta property="fb:app_id"      content="581042098737672" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container phone-container">
    <div class="row">
      <div class="col-md-11">
        <div class="product-content-right">
          <div class="row">
            <div class="col-sm-6">
              <div class="col-sm-12">
                <div class="simpleLens-gallery-container" id="zoom_gallery">
                  <div class="simpleLens-container">
                    <div class="simpleLens-big-image-container">
                      <a class="simpleLens-lens-image" data-lens-image="<%= @accessory.accessory_images.first.image.url(:original) %>">
                        <img src="<%= @accessory.accessory_images.first.image.url(:medium) %>" class="simpleLens-big-image">
                      </a>
                    </div>
                  </div>
                  <div class="simpleLens-thumbnails-container">
                    <% @accessory.accessory_images.each do |img| %>
                      <a href="javascript:void(0)" class="simpleLens-thumbnail-wrapper" data-lens-image="<%= img.image.url(:original) %>" data-big-image="<%= img.image.url(:medium) %>">
                        <img src="<%= img.image.url(:thumb) %>">
                      </a>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="product-inner">
                <h2 class="product-name"><%= @accessory.title%></h2>
                <p>
                  <%= @accessory.long_desc  %>
                </p>
                <div class="product-inner-price">
                 <%= link_to("javascript:void(0)", class: "fb-share-btn",
                                    :"data-name" => "#{@accessory.title} a tan solo #{ @accessory.new_price}" ,
                                    :"data-caption" => "",
                                    :"data-link" => request.original_url,
                                    :"data-picture" => asset_url(@accessory.accessory_images.first.image),
                                    :"data-description" => "#{@accessory.short_desc}" ) do %>
                    <%= image_tag 'publicarlo-en-fb.png', class: "btn-share", width: 100 %>
                  <% end -%>
                  <%= render partial: "/layouts/facebook_share" %>
                  <span class="price-acc">Precio:</span>
                  <ins>$<%= @accessory.new_price%> <small style="font-size: 53%;color:#9e9e9e"> (IVA inc.)</small> </ins>
                  <% unless @accessory.old_price.blank? %>
                    antes
                    <del>$<%= @accessory.old_price%> <small style="font-size: 53%;color:#9e9e9e"> (IVA inc.)</small></del>
                  <% end -%>
                  <br>
                  <span class="price-acc">Stock:</span>
                  <ins style="color:#89c403"><i class="fa fa-check"></i></ins>
                </div>
                <div class="comun-data">
                  <i class="fa fa-phone-square fa-4x"></i>
                  <span>47327066</span></br>
                  <p>comunicate y te lo enviamos</p>
                </div>
                <div class="payment-type">
                  <span>aceptamos todas las tarjetas:</span>
                  <%= image_tag "tarjetas.png", :width => "450" %>
                </div>
              </div>
            </div>
          </div>
          </br>
          <div class="col-sm-2"></div>
          <div class="col-sm-9">
            <div class="row row2">
              <h3>Celulares compatibles</h3>
              <table class="phone-comp-table">
                <colgroup>
                  <col width="100">
                </colgroup>
                <tbody>
                  <% @accessory.compatible_phones.each do |data|%>
                    <tr>
                      <th><%= data[0]%></th>
                      <td><%= data[1]%></td>
                    </tr>
                  <% end -%>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
